/*
.navbar-dark .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.65);
}

.navbar-dark .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: black !important;
}

.dev {
    color: black;
}

.dev a {
    color: black !important;
}
*/

.content-box-md {
    padding: 80px 0;
}

body {
    background: #000;
    color: white;
}

.col-md-12 {
    font-size: 4rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", cursive;
    padding: 150px 0;
}

@media(max-width:767px) {
    .col-md-12 {
        font-size: 3rem;
        padding: 100px 0;
    }
}
