.navbar-dark .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.65);
}

.navbar-dark .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: black!important;
}

.dev {
    color: black;
}

.dev a {
    color: black !important;
}

.content-box-md {
    padding: 80px 0;
}
