html {
    font-family: "Source Sans Pro", sans-serif;
}

body {
    background: #8A2149;
}

.poster {
    max-width: 450px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.role {
    margin: 25px 0 3px;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 28px;
}

.rolec {
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 900;
    text-align: center;
    color: white;
    font-size: 18px;
}

.owl-theme .owl-dots .owl-dot span {
    background: white;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: white;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: #eee;
}

.owl-carousel .owl-item img {
    height: 100%;
}

.owl-theme .owl-nav [class*=owl-] {
    background: none;
    font-size: 30px !important;
    margin: 0;
    color: white !important;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #eee;
}

.owl-prev {
    margin-right: 15px !important;
}

.owl-next {
    margin-left: 15px !important;
}


.dev {
    margin: 20px 0;
}


/**GENERAL**/

.content-box-lg {
    padding: 100px 0;
}

.content-box-md {
    padding: 90px 0;
}

.content-box-sm {
    padding: 35px 0;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}
