html {
    font-family: "Source Sans Pro", sans-serif;
}

body {
    background: #8A2149;
}

.poster {
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.role {
    margin: 40px;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 15px;
}

.owl-theme .owl-dots .owl-dot span {
    background: white;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: white;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: #eee;
}

.owl-carousel .owl-item img {
    height: 100%;
}

.owl-theme .owl-nav [class*=owl-] {
    background: none;
    font-size: 40px !important;
    margin: 0;
    color: white !important;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #eee;
}

.owl-prev {
    margin-right: 15px !important;
}

.owl-next {
    margin-left: 15px !important;
}

.owl-theme .owl-nav {
    margin: 0 !important;
}

@media (max-width: 551px) {
    .owl-theme .owl-nav.disabled + .owl-dots {
        margin: 0;
    }

    .info-item {
        margin-top: 25px;
    }

    .h1 {
        height: 168px;
    }

    .info-item p {
        text-align: justify;
    }
}




.dev {
    margin: 20px 0;
}


/**GENERAL**/

.content-box-lg {
    padding: 100px 0;
}

.content-box-md {
    padding: 90px 0;
}

.content-box-sm {
    padding: 80px 0;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}
