* {
    padding: none;
    margin: none;
    text-decoration: none;
    /* Setting user select to none*/
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #ba3122;
}

/* header {
    border: 2px solid red;
    margin-bottom: 10px;
    background-color: white;
    height: calc(10% - 10px);
} */

.main-content {
    width: 70%;
    height: 80%;
    margin: auto;
    background-color: transparent;
    overflow-y: scroll;
    background-color: white;
    margin-top: 30px;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    width: 100%;
    padding: 0px;
    border-bottom: 1px solid white;
    color: white;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    width: 33.33%;
    background-color: #8c2318;
    text-align: center;
    border: 2px solid white;
}
.tab.active {
    background: #2e0c08;
}
.tab:hover {
    cursor: pointer;
}
.tab-content {
    margin: 10px 20px;
    color: white;
    text-align: center;
}
.tab-content > .year > .sponsor-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.sponsor-container > img {
    max-height: 550px;
    max-width: 300px;
}
.role {
    text-transform: uppercase;
    font-weight: 900;
    color: black;
    font-family: Portico;
    margin: 10px 0;
}

@media (max-width: 1400px) {
    .tab-content > .year > .sponsor-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 950px) {
    .tab-content > .year > .sponsor-list {
        display: grid;
        grid-template-columns: 1fr;
    }

    .sponsor-container > img {
        max-height: 550px;
        max-width: 250px;
    }

    .tabs {
        position: sticky;
        top: 0px;
    }
}

@media (min-width: 950px) {
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background-color: white;
    }
    ::-webkit-scrollbar-thumb {
        background-color: black;
        border-radius: 50px;
    }
    ::-webkit-scrollbar-thumb:hover{
        background-color: black;
        cursor: pointer;
    }
}
