html {
    font-family: "Source Sans Pro", sans-serif;
}

body {
    overflow-x: hidden;
    background: #5599c9;
}

/**GENERAL**/

.content-box-lg {
    padding: 100px 0;
}

.content-box-md {
    padding: 90px 0;
}

.content-box-sm {
    padding: 80px 0;
}

img {
    border-radius: 40px;
}

.owl-theme .owl-dots .owl-dot span {
    background: white;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #f8143c;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: #d8143c;
}

.title {
    color: #f8143c;
    font-weight: 400;
}

.title span {
    color: #d8143c;
    font-weight: 700;
}

.info-item p {
    font-size: 14.5px;
    color: #222;
    font-weight: 500;
}

.mt5 {
    margin-top: 3rem;
}

::selection {
    background: #f2143c;
    color: white;
}

.carousel__item p span {
    font-weight: 700;
    font-size: 15px;
}

.h1 {
    height: 263px;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.info-wrapper {
    padding-left: 20px;
}

@media (max-width: 551px) {
    .mt5 {
        margin: 0;
    }

    .owl-theme .owl-nav.disabled + .owl-dots {
        margin: 0;
    }

    .info-item {
        margin-top: 25px;
    }

    .h1 {
        height: 168px;
    }

    .info-wrapper {
        padding-left: 0;
    }

}
