html {
    font-family: "Source Sans Pro", sans-serif;
}

body {
    overflow-x: hidden;
    background: #5599c9;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.65);
}

.navbar-dark .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-dark .navbar-nav .nav-link.active:hover {
    color: white;
}

/**GENERAL**/

.content-box-lg {
    padding: 100px 0;
}

.content-box-md {
    padding: 90px 0;
}

.content-box-sm {
    padding: 80px 0 40px;
}

img {
    border-radius: 40px;
}

.owl-theme .owl-dots .owl-dot span {
    background: white;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #f8143c;
    background: white;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: #d8143c;
    background: #eee;
}

.owl-carousel .owl-item img {
    height: 100%;
}

.title {
    color: #f8143c;
    color: white;
    font-weight: 700;
}

.title span {
    color: #d8143c;
    color: white;
    font-weight: 700;
}

.info-item p {
    font-size: 14.5px;
    color: #222;
    font-weight: 500;
}

.mt5 {
    margin-top: 4rem;
}

::selection {
    background: #f2143c;
    background: white;
    color: white;
    color: black;
}

.carousel__item p span {
    font-weight: 700;
    font-size: 15px;
}

.h1 {
    height: 263px;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.info-wrapper {
    padding-right: 20px;
}

.owl-theme .owl-nav [class*=owl-] {
    background: none;
    font-size: 40px !important;
    margin: 0;
    color: #f8143c !important;
    color: white !important;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #f2143c;
    color: #eee;
}

.owl-prev {
    margin-right: 10px !important;
}

.owl-next {
    margin-left: 10px !important;
}

.owl-theme .owl-nav {
    margin: 0 !important;
}

@media (max-width: 551px) {
    .mt5 {
        margin: 0;
    }

    .owl-theme .owl-nav.disabled + .owl-dots {
        margin: 0;
    }

    .info-item {
        margin-top: 25px;
    }

    .h1 {
        height: 168px;
    }

    .info-wrapper {
        padding-right: 0;
        margin-bottom: 40px;
    }

    .title {
        text-align: center;
    }

    .info-item p {
        text-align: justify;
    }
}
