html {
    font-family: "Source Sans Pro", sans-serif;
}

body {
    overflow-x: hidden;
    background: rgb(107, 2, 39);
    color: white;
}

/**GENERAL**/

.content-box-lg {
    padding: 100px 0;
}

.content-box-md {
    padding: 90px 0;
}

.content-box-sm {
    padding: 80px 0;
}

img {
    display: block;
    margin: 0 auto;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.title {
    font-weight: 400;
    margin-bottom: 20px;
}

.title span {
    font-weight: 700;
    color: #eee;
}

@media (max-width: 551px) {
    .row img {
        height: 180px;
    }

    .info-item {
        margin-top: 1rem;
    }
}

@media (min-width: 1020px) and (min-height:1200px) {
    .row img {
        height: 550px;
    }

    .info-item {
        margin-top: 1rem;
    }

    .title {
        font-size: 3rem;
    }

    p {
        font-size: 20px;
    }
}
