html {
    font-family: "Source Sans Pro", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    /*background: url("http://www.platehelp.nl/media/W1siZiIsIjIwMTUvMTAvMjcvMTBfNTZfMjBfNTU3X0lNR18xOTAxXzEuanBnIl1d/IMG_1901-1.jpg");*/
    background-size: cover;
    background: #9999ff;

}

#icons {
    position: fixed;
    bottom: 0px;
    z-index: 100;
}

/* Wrapper */
.icon-button {
    background-color: white;
    border-radius: 2.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 2.6rem;
    line-height: 2.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2.6rem;
}

/* Circle */
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 2.6rem;
    margin: -1.3rem;
}

/* Icons */
.icon-button i {
    background: none;
    color: white;
    height: 2.6rem;
    left: 0;
    line-height: 2.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 2.6rem;
    z-index: 10;
}

#container {
    width: auto;
    /*height: auto;*/
    /*margin-top: 120px;*/
/*
    -webkit-perspective: 800px;
    perspective: 800px;
*/
    text-align: center;
    /*    height: calc(100vh - 70px);*/
}

#container h1 {
    color: black;
    font-family: "Boogaloo", cursive;
    font-weight: bold;
    margin: 40px;
    letter-spacing: 2px;
}

#container > hr {
    border: none;
    border: 1px solid #fff;
    width: 80%;
}

.card {
    margin: 10px;
    display: inline-block;
    position: relative;
    /*
    width: 220px;
    height: 260px;
*/
    opacity: 0.85;
    background-color: transparent;
    border: 0;
}

/*
.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    border-radius: 5px;
}
*/

/*
.front {
    transform: rotateY(0deg);
    text-align: center;
    padding: 30px;
    background: #2c2ca8;
}

.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    padding: 40px 15px;
    color: #fff;
    background: #2c2ca8;
}
*/

/*
.card:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
*/

/*
.contact {
    height: 150px;
    width: 140px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 5px;
}
*/

.name {
    display: inline-block;
    font-size: 18px;
    width: 100%;
    color: #2c2ca8;
}

.job {
    color: #fff;
}

.front hr {
    border: none;
    color: #2c2ca8;
    border: 1px solid;
}

.icon {
    fill: currentColor;
    color: inherit;
    height: 33px;
    width: 33px;
    margin-top: 15px;
    color: white;
}

.icon:hover {
    cursor: pointer;
    color: #606060;
}

#insta-icon {
    width: 20px;
    margin-right: 5px;
}

#linkedin-icon,
#facebook-icon {
    width: 25px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #2c2ca8;
    border-radius: 50px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2c2ca8;
}

.dev {
    color: black;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.65);
}

.navbar-dark .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-dark .navbar-nav .nav-link.active:hover {
    color: white;
}

.card img {
    max-width: 200px;
}
