* {
    padding: none;
    margin: none;
    text-decoration: none;
    /* Setting user select to none*/
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #5cdb95;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.65);
}

.navbar-dark .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-dark .navbar-nav .nav-link.active:hover {
    color: white;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

main > h1 {
    margin-top: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #05386b;
    font-weight: 1000;
}

main > .effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 3s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

.content {
    margin: 10px auto;
    width: 90%;
    padding: 5px 0px 20px 0px;
}

.list-group-item {
    background-color: #c6f5db;
    border: none;
}
